/* --------------------- MONTSERRAT FONTS ---------------------- */

@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* --------------------- /MONTSERRAT FONTS ---------------------- */

/* --------------------- NotoSansSC FONTS ---------------------- */

@font-face {
    font-family: "NotoSansSC-Thin";
    src: url("../fonts/Noto_Sans_SC/NotoSansSC-Thin.otf")format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NotoSansSC-Light";
    src: url("../fonts/Noto_Sans_SC/NotoSansSC-Light.otf")format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NotoSansSC-Medium";
    src: url("../fonts/Noto_Sans_SC/NotoSansSC-Medium.otf")format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NotoSansSC-Regular";
    src: url("../fonts/Noto_Sans_SC/NotoSansSC-Regular.otf")format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NotoSansSC-Bold";
    src: url("../fonts/Noto_Sans_SC/NotoSansSC-Bold.otf")format("opentype");
    font-style: normal;
    font-weight: bold;
}

/* --------------------- /NotoSansSC FONTS ---------------------- */
