/* VARIABLES */

:root { 

    /* colors */
    --accent-color-1: #ccd3ff;
    --accent-color-2: #424564;
    --accent-color-3: #5f6d91;
    --accent-color-4: #7eb001;

}

/* /VARIABLES */


/* COMMON */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Montserrat-Medium";
    color: #313131;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #313131;
}

.section-inner {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.section-title {
    font-size: 20px;
    text-align: center;
}

.dot {
    color: var(--accent-color-4);
    font-size: 40px;
}

/* /COMMON */

/* HEADER */

.section-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(204,211,255,1) 50%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(50%, rgba(204,211,255,1)));
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(204,211,255,1) 50%);
}

.section-header::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    background: -o-linear-gradient(right, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(204,211,255,0.5) 50%);
    background: -webkit-gradient(linear, right top, left top, from(rgba(255,255,255,0.5)), color-stop(50%, rgba(255,255,255,0.5)), color-stop(50%, rgba(204,211,255,0.5)));
    background: linear-gradient(to left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 50%, rgba(204,211,255,0.5) 50%);
}

.header-menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    -webkit-transform: translateX(-8%);
        -ms-transform: translateX(-8%);
            transform: translateX(-8%);
}

.header-menu__item {
    position: relative;
    margin: 0 20px;
    text-align: center;
    z-index: 10;
}

.header-menu__item::after {
    content: "";
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 5;
    opacity: 0;
    background-color: var(--accent-color-4);
}

.header-menu__item:hover::after {
    -webkit-animation: menu-animation 0.15s ease-in-out forwards;
            animation: menu-animation 0.15s ease-in-out forwards;
}

@-webkit-keyframes menu-animation {
    0% {
        bottom: 20px;
        opacity: 0;
    }

    100% {
        bottom: 2px;
        opacity: 1;
    }
}

@keyframes menu-animation {
    0% {
        bottom: 20px;
        opacity: 0;
    }

    100% {
        bottom: 2px;
        opacity: 1;
    }
}

.header-menu__links {
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

.header-menu__links:active {
    color: var(--accent-color-4);
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

.header-mobile__icon {
    display: none;
}

.burger-menu {
    display: none;
}

.burger-menu__item {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: var(--accent-color-3);
}

@media (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    .header-menu__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0 30px;
    }

    .header-mobile__icon {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url("../icons/header-icon.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }

    .header-menu {
        position: absolute;
        right: 0;
        top: 70px;
        height: calc(100vh - 70px);
        background-color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width: 70%;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }
    .header-menu__links {
        opacity: 0;
    }

    .header-menu-active {
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
    }

    @-webkit-keyframes linkFade {
        from {
            opacity: 0;
            -webkit-transform: translateX(50px);
                    transform: translateX(50px);
        }
        to {
            opacity: 1;
            -webkit-transform: translateX(0px);
                    transform: translateX(0px);
        }
    }

    @keyframes linkFade {
        from {
            opacity: 0;
            -webkit-transform: translateX(50px);
                    transform: translateX(50px);
        }
        to {
            opacity: 1;
            -webkit-transform: translateX(0px);
                    transform: translateX(0px);
        }
    }

    .line1, .line2, .line3 {
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    .toogle .line1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            -ms-transform: rotate(-45deg) translate(-5px, 6px);
                transform: rotate(-45deg) translate(-5px, 6px);
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    .toogle .line2 {
        opacity: 0;
    }

    .toogle .line3 {
        -webkit-transform: rotate(45deg) translate(-5px, -6px);
            -ms-transform: rotate(45deg) translate(-5px, -6px);
                transform: rotate(45deg) translate(-5px, -6px);
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }
}


/* /HEADER */

/* HOME */

.section-home {
    position: relative;
    margin-top: 70px;
    height: calc(100vh - 70px);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(204,211,255,1) 50%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(50%, rgba(204,211,255,1)));
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(204,211,255,1) 50%);
}

.section-home__wrapper {
    text-align: center;
    height: 100%;
    padding: 10vh 0 25vh 0;
}

.section-home__intro {
    color: var(--accent-color-2);
    text-transform: uppercase;
}

.section-home__title {
    position: relative;
    height: 100%;
}

.title {
    font-family: "NotoSansSC-Bold";
    top: 35%;
}

.title-img {
    position: absolute;
    display: block;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    z-index: 10;
}

.title__left-side {
    position: absolute;
    color: var(--accent-color-1);
    z-index: 5;
    right: 50%;
}

.title__right-side {
    position: absolute;
    color: #fff;
    z-index: 15;
} 

@media (max-width: 349px) {
    .title {
        font-size: 50px;
    }

    .title-img {
        width: 105px;
        height: 70px;
        bottom: 55%;
    }
}

@media (min-width: 350px) {
    .title {
        font-size: 60px;
    }

    .title-img {
        width: 120px;
        height: 80px;
        bottom: 54%;
    }
}

@media (min-width: 460px) {
    .title {
        font-size: 80px;
    }

    .title-img {
        width: 150px;
        height: 100px;
        bottom: 50%;
    }
}

@media (min-width: 576px) {
    .title {
        font-size: 100px;
    }

    .title-img {
        width: 180px;
        height: 120px;
        bottom: 46%;
    }
}


@media (min-width: 768px) {
    .title {
        font-size: 140px;
    }

    .title-img {
        width: 225px;
        height: 150px;
        bottom: 42%;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 170px;
    }

    .title-img {
        width: 300px;
        height: 200px;
        bottom: 35%;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 200px;
    }

    .title-img {
        width: 375px;
        height: 250px;
        bottom: 28%;
    }
}

/* /HOME */

/* ABOUT */

.section-about {
    background-color: var(--accent-color-2);
    overflow: hidden;
}

.section-about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    padding-top: 10vh;
    position: relative;
}

.section-about__title {
    color: var(--accent-color-1);
}

.section-about__text {
    margin: 60px 0;
    line-height: 25px;
    text-align: center;
    color: #fff;
}

.section-about__content {
    position: relative;
    width: 100%;
    height: 100%;
}

.section-about__item {
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

.section-about__img {
    background-image: url("../images/Blueberry-fruit-34914645-1600-1517__500px.png");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
}

.section-about__words {
    font-family: "NotoSansSC-Bold";
    color: var(--accent-color-3);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: relative;
}

.section-about__words-desc {
    position: absolute;
    font-family: "Montserrat-Light";
    color: var(--accent-color-1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}

.section-about__words::before {
    content: "";
    position: absolute;
    background-color: var(--accent-color-1);
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.section-about__item:hover .section-about__words::before {
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.section-about__item:hover .section-about__words-desc {
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.section-about__words:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: var(--accent-color-1);
}

@media (max-width: 479px) {
    .section-about__words-desc {
        width: 300px;
    }

    .section-about__text {
        width: 90%;
    }

    .section-about__words {
        font-size: 45px;
    }

    .section-about__words-desc {
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
        top: 110px;
        text-align: center;
        font-size: 13px;
    }

    .section-about__item:hover .section-about__words-desc {
        top: 90px;
    }
}

@media (min-width: 480px) {
    .section-about__words-desc {
        width: 450px;
    }

    .section-about__text {
        width: 70%;
    }

    .section-about__words {
        font-size: 60px;
    }

    .section-about__words-desc {
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
        top: 140px;
        text-align: center;
        font-size: 13px;
    }

    .section-about__item:hover .section-about__words-desc {
        top: 120px;
    }
}

@media (max-width: 991px) {
    .section-about {
        height: 1350px;
    }

    .section-about__img {
        height: 650px;
        width: 650px;
        top: 15%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        opacity: 0.2;
        z-index: 0;
    }

    .section-about__item:not(:first-child) {
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .section-about__item:nth-child(2) {
        top: 0;
    }
    
    .section-about__item:nth-child(3) {
        top: 25%;
    }
    
    .section-about__item:nth-child(4) {
        top: 50%;
    }
    
    .section-about__item:nth-child(5) {
        top: 75%;
    }

    .section-about__words::before {
        height: 3px;
        width: 250px;
        bottom: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .section-about__item:hover .section-about__words::before {
        bottom: -10px;
    }
}

@media (min-width: 992px) {
    .section-about {
        height: 1050px;
    }

    .section-about__words {
        font-size: 70px;
    }

    .section-about__img {
        height: 450px;
        width: 450px;
        left: -10%;
        top: 10%;
    }

    .section-about__words-desc {
        font-size: 15px;
        width: 300px;
        right: -270px;
        top: 0;
    }

    .section-about__item:nth-child(2) {
        top: -5%;
        left: 12%;
    }
    
    .section-about__item:nth-child(3) {
        top: 20%;
        left: 17%;
        z-index: 10;
    }
    
    .section-about__item:nth-child(4) {
        top: 43%;
        left: 28%;
    }
    
    .section-about__item:nth-child(5) {
        top: 65%;
        left: 23%;
        z-index: 10;
    }

    .section-about__words::before {
        height: 3px;
        width: 70px;
        top: 55%;
        right: -50px;
    }

    .section-about__item:hover .section-about__words::before {
        right: -100px;
    }

    .section-about__item:hover .section-about__words-desc {
        top: 40%;
    }
}

@media (min-width: 1050px) {
    .section-about__words {
        font-size: 80px;
    }

    .section-about__img {
        height: 450px;
        width: 450px;
        left: -5%;
    }

    .section-about__item:nth-child(2) {
        left: 10%;
    }

    .section-about__words-desc {
        right: -270px;
    }
}

@media (min-width: 1200px) {
    .section-about__words {
        font-size: 90px;
    }

    .section-about__img {
        height: 500px;
        width: 500px;
    }

    .section-about__words-desc {
        width: 350px;
        right: -310px;
    }
}

@media (min-width: 1420px) {
    .section-about__words {
        font-size: 110px;
    }
}

@media (min-width: 1550px) {
    .section-about__words {
        font-size: 120px;
    }
}

/* /ABOUT */

/* STATISTICS */

.section-statistics {
    height: 100%;
    background-color: var(--accent-color-1);
}
.section-statistics__wrapper {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-statistics__title {
    color: var(--accent-color-2);
}

.section-statistics__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
}

.section-statistics__item {
    margin: 20px;
}

.section-statistics__item > div{
    margin: 15px;
}

.item-numbers {
    font-family: "NotoSansSC-Bold";
    font-size: 35px;
    color: var(--accent-color-4);
}

@media (min-width: 970px) {
    .section-statistics__list {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
}

@media (max-width: 969px) {
    .section-statistics__list {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

/* /STATISTICS */

/* /TESTIMONIALS */

.section-testimonials {
    height: 100%;
    background-image: url("../images/testi-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.section-testimonials__wrapper {
    padding-top: 70px;
    padding-bottom: 200px;
    text-align: center;
}

.section-testimonials__title {
    color: var(--accent-color-2);
    margin-bottom: 100px;
}

.section-testimonials__list {   
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.section-testimonials__item {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
            box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
    width: 800px;
    height: 400px;
    padding: 75px 30px;
}

/* .section-testimonials__item::before {
    content: "“";
    position: absolute;
    font-family: "NotoSansSC-Light";
    color: var(--accent-color-1);
}

.section-testimonials__item::after {
    content: "”";
    position: absolute;
    font-family: "NotoSansSC-Light";
    color: var(--accent-color-1);
} */

.section-testimonials__person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
}

.person-photo {
    background-size: cover;
    background-position: 45% 50%;
    border-radius: 50%;
}

.person-photo-1 {
    background-image: url("../images/person1.jpg");
}

.person-photo-2 {
    background-image: url("../images/person2.jpg");
}

.person-photo-3 {
    background-image: url("../images/person3.jpg");
}

.person-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 40px;
    text-align: left;
}

.person-workplace {
    margin-top: 15px;
    font-family: "Montserrat-Light";
}

@media (max-width: 424px) {
    .section-testimonials__list {   
        width: 95%;
    }

    .section-testimonials__text {
        font-size: 13px;
        line-height: 25px;
    }

    .section-testimonials__item {
        margin: 0 10px;
    }
    
    .person-name, .person-workplace {
        font-size: 10px;
    }

    .person-photo {
        width: 50px;
        height: 50px;
    }

    /* .section-testimonials__item::before {
        top: -14%;
        left: -31%;
        font-size: 150px;
    }
    
    .section-testimonials__item::after {
        bottom: -39%;
        right: -31%;
        font-size: 150px;
    } */
}

@media (min-width: 425px) {
    .section-testimonials__list {   
        width: 95%;
    }

    .section-testimonials__text {
        font-size: 12px;
        line-height: 30px;
    }

    .section-testimonials__item {
        margin: 0 10px;
    }

    .person-photo {
        width: 70px;
        height: 70px;
    }

    /* .section-testimonials__item::before {
        top: -14%;
        left: -23%;
        font-size: 150px;
    }
    
    .section-testimonials__item::after {
        bottom: -39%;
        right: -23%;
        font-size: 150px;
    } */
}

@media (min-width: 625px) {
    .section-testimonials__item {
        margin: 0 20px;
    }

    /* .section-testimonials__item::before {
        top: -25%;
        left: -31%;
        font-size: 300px;
    }
    
    .section-testimonials__item::after {
        bottom: -69%;
        right: -31%;
        font-size: 300px;
    } */
}

@media (min-width: 825px) {
    .section-testimonials__list {   
        width: 100%;
    }

    .section-testimonials__text {
        font-size: 18px;
    }

    /* .section-testimonials__item::before {
        top: -32%;
        left: -34%;
        font-size: 430px;
    }
    
    .section-testimonials__item::after {
        bottom: -88%;
        right: -34%;
        font-size: 430px;
    } */
}

/* /TESTIMONIALS */

/* PRICING */

.section-pricing {
    background-color: #edeeff;
    height: 100%;
}

.section-pricing__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section-pricing__title {
    margin-bottom: 15px;
}

.section-pricing__warning {
    text-align: center;
    font-size: 15px;
    color: rgb(151, 151, 151);
    margin-bottom: 50px;
}

.section-pricing__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.section-pricing__item {
    position: relative;
    padding: 30px 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
}

.section-pricing__item::after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-size: contain;
    background-repeat: no-repeat;
}

.section-pricing__item:first-child::after {
    width: 60px;
    height: 60px;
    bottom: -25%;
    background-image: url("../icons/favicon.png");
}

.section-pricing__item:nth-child(2)::after {
    width: 120px;
    height: 120px;
    bottom: -30%;
    background-image: url("../images/blueberry_plantslive.png");
}

.section-pricing__item:last-child::after {
    width: 130px;
    height: 130px;
    bottom: -35%;
    background-image: url("../images/blueberry_in_busket.png");
}

.item-title {
    font-family: "Montserrat-ExtraBold";
    font-size: 35px;
    font-weight: 900;
    color: #7e87ff;
}

.item-subtitle {
    font-family: "Montserrat-Light";
    color: var(--accent-color-4);
}

.item-price {
    font-family: "Montserrat-Regular";
    font-size: 35px;
    margin-top: 30px;
}

.item-date {
    font-family: "Montserrat-Light";
    margin-bottom: 50px;
}

.item-features__list::before {
    content: "";
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: var(--accent-color-1);
}

.item-features__list {
    position: relative;
    width: 100%;
}

.features__list-item {
    font-family: "Montserrat-Medium";
    margin: 10px 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: relative;
}

.order-button {
    margin-top: 30px;
    padding: 0;
    width: 0;
    font-size: 0;
    font-family: "Montserrat-Light";
    background-color: var(--accent-color-2);
    color: #fff;
    border: 0px solid var(--accent-color-2);
    border-radius: 3px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.order-button:hover {
    background-color: #fff;
    color: var(--accent-color-2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.dis::before {
    content: "✘";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    color: red;
}

.ad::before {
    content: "✔";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    color: green;
}

.pricing-calc {
    margin-top: 150px;
    text-align: center;
}

.calc-title {
    margin-bottom: 30px;
    font-size: 23px;
}

.calc-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid var(--accent-color-3);
    padding: 50px;
}

.pricing-label {
    font-size: 18px;
    margin-bottom: 40px;
}

.price-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: var(--accent-color-4);
    border: 1px solid var(--accent-color-4);
    outline: none;
}

.sum, .discount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 420px) {
    .section-pricing__item {
        width: 290px;
        padding: 20px 25px;
    }
}

@media (max-width: 1186px) {
    .section-pricing__list {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .section-pricing__item:nth-child(2) {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .section-pricing__item {
        margin-bottom: 170px;
        -webkit-box-shadow: 0 0 10px 5px rgba(71, 54, 112, 0.1);
                box-shadow: 0 0 10px 5px rgba(71, 54, 112, 0.1);
    }

    .section-pricing__item .order-button {
        padding: 13px;
        width: 100%;
        font-size: 15px;
        border: 1px solid var(--accent-color-2);
    }
}

@media (min-width: 1187px) {
    .section-pricing__list {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .section-pricing__item:nth-child(2) {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
    }

    .section-pricing__item {
        margin-top: 20px;
    }

    .section-pricing__item:nth-child(2) {
        -webkit-box-shadow: 0 0 10px 5px rgba(71, 54, 112, 0.1);
                box-shadow: 0 0 10px 5px rgba(71, 54, 112, 0.1);
    }
    
    .section-pricing__item:nth-child(2) .order-button {
        padding: 13px;
        width: 100%;
        font-size: 15px;
        border: 1px solid var(--accent-color-2);
    }
    
    .section-pricing__item:hover:first-child .order-button,
    .section-pricing__item:hover:last-child .order-button {
        padding: 13px;
        width: 100%;
        font-size: 15px;
        border: 1px solid var(--accent-color-2);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    
    .section-pricing__item:first-child,
    .section-pricing__item:last-child {
        opacity: 0.5;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    
    .section-pricing__item:hover:first-child,
    .section-pricing__item:hover:last-child {
        opacity: 1;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        -webkit-box-shadow: 0 0 10px 5px rgba(71, 54, 112, 0.1);
                box-shadow: 0 0 10px 5px rgba(71, 54, 112, 0.1);
    }
}

/* /PRICING */

/* SEASONS */

.section-seasons {
    background-color: var(--accent-color-1);
    height: 100%;
}

.seasons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.seasons-list__item {
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    position: relative;
}

.seasons-list__item:hover,
.seasons-list__item:active {
    -webkit-transform: scale(1.1) translateY(-20px);
        -ms-transform: scale(1.1) translateY(-20px);
            transform: scale(1.1) translateY(-20px);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.seasons-list__item:hover .seasons-list__item-img,
.seasons-list__item:active .seasons-list__item-img {
    opacity: 0.5;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.seasons-list__item-img {
    height: auto;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.season-list__item-desc {
    position: absolute;
    opacity: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    text-align: center;
}

.seasons-list__item:hover .season-list__item-desc,
.seasons-list__item:active .season-list__item-desc {
    opacity: 1;
    -webkit-animation: seasonList 0.3s ease-in-out forwards;
            animation: seasonList 0.3s ease-in-out forwards;
}

@-webkit-keyframes seasonList {
    0% {
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
    }

    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes seasonList {
    0% {
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
    }

    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@media (max-width: 559px) {
    .seasons-list__item-img {
        width: 75px;
    }

    .seasons-list__item {
        margin: 40px 20px;
    }

    .season-list__item-desc {
        font-size: 9px;
    }
}

@media (min-width: 560px) {
    .seasons-list__item-img {
        width: 100px;
    }

    .seasons-list__item {
        margin: 50px 30px;
    }

    .season-list__item-desc {
        font-size: 12px;
    }
}

@media (max-width: 1149px) {
    .section-seasons {
        background-image: url("../images/stages-bg.png");
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1150px) {
    .section-seasons {
        background-image: url("../images/stages-bg.png"), url("../images/stages-bg1.png");
        background-size: contain, contain;
        background-position: left center, right center;
        background-repeat: no-repeat, no-repeat;
    }
    
}

/* /SEASONS */

/* FOOTER */

.section-footer {
    background-color: #fff;
    height: 100%;
}

.section-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
}

.footer-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.socials-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.socials-item::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    left: -35px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.socials-item:first-child::before {
    background-image: url("../icons/envelope.png");
}

.socials-item:nth-child(2)::before {
    background-image: url("../icons/phone-call.png");
}

.socials-item:nth-child(3)::before {
    background-image: url("../icons/telegram.png");
}

.socials-item:last-child::before {
    background-image: url("../icons/viber.png");
}

.socials-item:hover {
    color: var(--accent-color-4);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer-menu {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer-menu__item {
    margin: 10px;
    text-align: right;
}

.footer-menu__links {
    position: relative;
}

.footer-menu__links::after {
    content: "";
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 5;
    opacity: 0;
    background-color: var(--accent-color-4);
}

.footer-menu__links:hover::after {
    -webkit-animation: menu-animation 0.15s ease-in-out forwards;
            animation: menu-animation 0.15s ease-in-out forwards;
}

@media (max-width: 990px) {
    .section-footer__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .section-footer__wrapper > div {
        margin: 30px 0;
    }

    .footer-menu {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .footer-copyright {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        text-align: center;
    }

    .footer-socials {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
                transform: translateX(20px);
    }
}

@media (min-width: 991px) {
    .section-footer__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding-left: 20px;
    }

    .footer-copyright {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
    }
}

/* /FOOTER */